[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/Xilinx/arm-trusted-firmware
	ignore = untracked
[submodule "mpsoc-linux-xlnx"]
	path = mpsoc-linux-xlnx
	url = https://github.com/MentorEmbedded/mpsoc-linux-xlnx
	ignore = untracked
[submodule "mpsoc-u-boot-xlnx"]
	path = mpsoc-u-boot-xlnx
	url = https://github.com/MentorEmbedded/mpsoc-u-boot-xlnx
	ignore = dirty
[submodule "device-tree-xlnx"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx
	ignore = untracked
[submodule "ft_cores/intfft_spdf/fft-core"]
	path = ft_cores/intfft_spdf/fft-core
	url = https://github.com/capitanov/intfft_spdf.git
	ignore = dirty
[submodule "ft_cores/intfftk/fft-core"]
	path = ft_cores/intfftk/fft-core
	url = https://github.com/capitanov/intfftk.git
	ignore = dirty
[submodule "ft_cores/fpga-fft/fft-core"]
	path = ft_cores/fpga-fft/fft-core
	url = https://github.com/owocomm-0/fpga-fft
	ignore = untracked
[submodule "ft_cores/dblclkfft/fft-core"]
	path = ft_cores/dblclkfft/fft-core
	url = https://github.com/ZipCPU/dblclockfft.git
